body main {
    width: 500px;
    height 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
    width: auto;
    background-color: burlywood;
    align-items: right;
    flex-direction: column;
    justify-content: right;

}
img {
    width: 50px;
    height 50px
    align-items: right;
}


section {

    height: 1000px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center+6;
}

table {
    border-color: black;
    width: 100%;
}

td, th {
    border: solid 1px
}

th {
    background-color: aquamarine;
}

tr:nth-child(odd) {
    background: pink;
}

.total {
    text-align: right;
    padding: 5px;
}

.unstyle {
    background-color: white;
    border: none
}
